{% extends 'RentCarBundle::layout.html.twig' %}

{% block menu %}
	<ul class="nav nav-tabs">
			<li><a href="{{path('rentcarbundle_contact')}}">Kontakt</a></li>
			<li><a href="{{path('rentcarbundle_cars')}}">Samochody</a></li>
	</ul>
{% endblock %}
