{% extends 'RentCarBundle::layout.html.twig' %}

{% block menu %}
	<ul class="nav nav-tabs col-lg-12 navbar-center">
			<li><a class="btn btn-default" href="/~s180463/app_dev.php/rc">Strona główna</a></li>
			<li><a href="{{path('rentcarbundle_contact')}}" class="btn btn-default">Kontakt</a></li>
			<li><a href="{{path('rentcarbundle_cars')}}" class="btn btn-default">Samochody</a></li>
	</ul>
{% endblock %}
