{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
<div>
        <a class="btn btn-warning" href={{ path('fos_user_profile_edit') }}>Edytuj Profil</a>
    </div>
{% endblock fos_user_content %}
