{% extends 'KasiaEpopeeBundle::bars.html.twig' %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Tytu³</th>
			<th>Treœæ</th>
			<th>Data</th>
		</tr>
	<thead>
</table>
<tbody>
	{% for reflection in reflections %}
		<tr>
			<td>{}
{% endblock %}
