{% extends 'RentCarBundle::bars.html.twig' %}

{% block content %}
<div id="content" class="col-lg-12 text-center">
<h1>Dostępne samochody</h1>
</div>
<div id="content" class="col-lg-12">
<table class="table table-hover">

<h2>Pierwsze auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                              
                                <dt>Model</dt>
                                
                                <dt>Klasa</dt>
                               
                                <dt>Cena</dt>
<img src="/~s181306/bundles/rentcar/images/car1.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>

<h2>Drugie auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                              
                                <dt>Model</dt>
                                
                                <dt>Klasa</dt>
                               
                                <dt>Cena</dt>
<img src="/~s181306/bundles/rentcar/images/car2.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>
<h2>Trzecie auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                              
                                <dt>Model</dt>
                                
                                <dt>Klasa</dt>
                               
                                <dt>Cena</dt>
<img src="/~s181306/bundles/rentcar/images/car3.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>


</table>
</div>

{% endblock %}