{% extends 'RentCarBundle::bars.html.twig' %}
{% block content %}
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                                <dd>{{car3[3].marka}}</dd>
                                <dt>Model</dt>
                                <dd>{{car3[3].model}}</dd>
                                <dt>Klasa</dt>
                                <dd>{{car3[3].klasa}}</dd>
                                <dt>Cena</dt>
                                <dd>{{car3[3].cena}} zł/h</dd>
<img src="/~s180463/bundles/rentcar/images/car3.png" class="img-responsive center-block"/n>
FSO Polonez – samochód osobowy produkowany przez Fabrykę Samochodów Osobowych w Warszawie od 3 maja 1978 roku do 22 kwietnia 2002 roku[5][6]. Powstał jako następca Polskiego Fiata 125p, który był jednak produkowany równolegle aż do 1991 roku. Przez cały okres produkcji samochód przeszedł kilka większych modernizacji, wprowadzano także kolejne odmiany.
<a class="btn btn-primary navbar-right"> Wypożycz</a>
{% endblock %}
