{% extends 'RentCarBundle::bars.html.twig' %}

{% block content %}
<div id="contetn" class="col-lg-12">
<h1>Kontakt</h1>
</div>
<div id="content" class="col-lg-12">
<table class="table-responsive table-hover">

<tr>
  <td class="active">Telefon do centrali: 00000000000</td>
</tr>
<tr>
  <td class="active">Adres firmy: Burkina Faso, Wagadugu</td>
</tr>
<div id="contact-map" class="navbar-right">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249431.3687375026!2d-1.6769298687182492!3d12.358456246279971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe2e95ecceaa44cd%3A0x799f67799c743b8b!2sWagadugu%2C+Burkina+Faso!5e0!3m2!1spl!2spl!4v1454426430634" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br /><small><a href="https://mapy.google.pl/maps?q=50.073488,19.807616&amp;num=1&amp;ie=UTF8&amp;t=m&amp;ll=50.073117,19.80998&amp;spn=0.022035,0.053558&amp;z=14&amp;source=embed" target="_blank" style="text-align:left">Wyświetl większą mapę</a></small>
		
	</div>
<tr>
  <td class="active">Inne dane: brak</td>
</tr>
</table>
{% endblock %}